@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto+Slab:wght@100;200&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: #fafafa;
  display: flex;
  place-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  height: 100vh;
  width: 100vw;
}

.header {
  width: 100vw;
  height: 5.9rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 0;
  padding: 0;
  padding-left: 4rem;
  padding-right: 4rem;
  border: solid 1px #e8e8e8;
}

.header-title {
  font-size: 1.9rem;
  font-weight: bold;
  color: #0290ff;
  margin: 0;
  padding: 0;
}

.subheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-li {
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 1rem;
  font-weight: lighter;
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.logo {
  width: 2.813rem;
  height: 2.813rem;
  padding: 0.6rem;
  border: solid 1px #e8e8e8;
  border-radius: 50%;
}

.home-container {
  display: flex;
  flex-direction: column;
  padding-left: 4rem;
  padding-right: 4rem;
  margin-top: 1rem;
}

/* Book */

.book {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  background-color: white;
  gap: 2rem;
  padding: 1rem;
  border-radius: 4px;
  margin-bottom: 1rem;
  border: solid 1px #e8e8e8;
}

.book-genre {
  font-size: 0.87rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
  font-family: 'Montserrat', sans-serif;
}

.book-title {
  font-size: 1.37rem;
  margin: 0;
  padding: 0;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.2px;
  color: #121212;
}

.book-author {
  color: #4386bf;
  font-family: 'Montserrat', sans-serif;
  margin-bottom: 1rem;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.book-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: max-content;
  background-color: white;
  gap: 1rem;
}

.comment-book {
  width: 5.5rem;
  background-color: transparent;
  border: none;
  height: 2rem;
  text-align: start;
  color: #4386bf;
  font-family: 'Montserrat', sans-serif;
  border-right: solid 1px #e8e8e8;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.delete-book {
  width: 4rem;
  background-color: transparent;
  border: none;
  height: 2rem;
  text-align: center;
  color: #4386bf;
  font-family: 'Montserrat', sans-serif;
  border-right: solid 1px #e8e8e8;
  padding-right: 0.3rem;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.edit-book {
  width: 4rem;
  background-color: transparent;
  border: none;
  height: 2rem;
  text-align: start;
  color: #4386bf;
  font-family: 'Montserrat', sans-serif;
  padding-left: 0.2rem;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.update-book {
  height: 2rem;
  width: 12rem;
  background-color: #0290ff;
  color: white;
  border: none;
  font-size: medium;
  font-weight: lighter;
  border-radius: 5px;
}

.box-data {
  display: flex;
  flex-direction: row;
  gap: 5rem;
}

.porcentage-box {
  border-right: 1px solid #e8e8e8;
  padding-right: 5rem;
}

.book-porcentage-number {
  font-family: 'Roboto Slab', sans-serif;
  font-size: 1rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
  color: #121212;
}

.book-porcentage {
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-character {
  opacity: 0.5;
  font-family: 'Roboto Slab', sans-serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-character-number {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

#line {
  width: 100%;
  height: 1px;
  border: solid 1px #e8e8e8;
  margin-top: 2.5rem;
  margin-bottom: 2.5rem;
}

/* form */

.form-container {
  margin-bottom: 6rem;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.form-title {
  color: slategray;
  font-weight: bold;
}

.new-book {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
}

.new-author {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border-radius: 5px;
  border: solid 1px #e8e8e8;
}

#alert {
  font-size: 1rem;
  color: red;
  font-weight: bold;
}

.add-book {
  width: 20rem;
  height: 3rem;
  background-color: #0290ff;
  color: white;
  border: none;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
}

.category-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.category-btn {
  width: 20rem;
  height: 3rem;
  background-color: #0290ff;
  color: white;
  border: none;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 2rem;
}
