@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;800&family=Roboto+Slab:wght@100;200&display=swap');

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: rgb(223, 223, 223);
  display: flex;
  place-content: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  height: 100vh;
  width: 100vw;
}

.header {
  width: 100vw;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  margin: 0;
  padding: 0;
  padding-left: 2rem;
  padding-right: 2rem;
}

.header-title {
  font-size: 1.9rem;
  font-weight: bold;
  color: #0290ff;
  margin: 0;
  padding: 0;
}

.subheader {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 2rem;
}

.nav-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  gap: 2rem;
}

.nav-li {
  display: flex;
  align-items: center;
}

.nav-link {
  font-size: 1rem;
  font-weight: lighter;
  color: black;
  margin: 0;
  padding: 0;
  text-decoration: none;
}

.logo {
  height: 2rem;
  border: 1px solid rgb(87, 87, 87);
  border-radius: 50%;
}

.home-container {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  margin-top: 1rem;
}

/* Book */

.book {
  margin-top: 1rem;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: max-content;
  background-color: white;
  gap: 2rem;
  padding: 1rem;
  border-radius: 0.5rem;
  margin-bottom: 1rem;
}

.book-genre {
  font-size: 1rem;
  color: slategray;
}

.book-author {
  color: #4386bf;
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  margin-bottom: 0.5rem;
}

.book-btns {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: max-content;
  background-color: white;
  gap: 0.5rem;
}

.comment-book {
  width: 5.5rem;
  background-color: transparent;
  border: none;
  height: 2rem;
  text-align: start;
  color: #4386bf;
  font-size: 0.9rem;
  font-family: 'Roboto Slab', serif;
  border-right: 1px solid rgb(180, 180, 180);
}

.delete-book {
  width: 4rem;
  background-color: transparent;
  border: none;
  height: 2rem;
  text-align: center;
  color: #4386bf;
  font-size: 0.9rem;
  font-family: 'Roboto Slab', serif;
  border-right: 1px solid rgb(180, 180, 180);
  padding-right: 0.3rem;
}

.edit-book {
  width: 4rem;
  background-color: transparent;
  border: none;
  height: 2rem;
  text-align: start;
  color: #4386bf;
  font-size: 0.9rem;
  font-family: 'Roboto Slab', serif;
  padding-left: 0.2rem;
}

.update-book {
  height: 2rem;
  width: 12rem;
  background-color: #0290ff;
  color: white;
  border: none;
  font-size: medium;
  font-weight: lighter;
  border-radius: 5px;
}

.book-porcentage-number {
  font-size: xx-large;
}

.book-porcentage {
  font-size: 1rem;
}

.book-character {
  font-size: 1rem;
  color: slategray;
}

.book-character-number {
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 0.3rem;
}

/* form */

.form-container {
  margin-bottom: 6rem;
}

.form {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  gap: 1rem;
}

.form-title {
  color: slategray;
  font-weight: bold;
}

.new-book {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

.new-author {
  width: 100%;
  height: 3rem;
  padding: 1rem;
  border: none;
  border-radius: 5px;
}

#alert {
  font-size: 1rem;
  color: red;
  font-weight: bold;
}

.add-book {
  width: 20rem;
  height: 3rem;
  background-color: #0290ff;
  color: white;
  border: none;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
}

.category-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10rem;
}

.category-btn {
  width: 20rem;
  height: 3rem;
  background-color: #0290ff;
  color: white;
  border: none;
  font-size: medium;
  font-weight: bold;
  border-radius: 5px;
  margin-bottom: 2rem;
}
